export(additive_frame)
export(abstract_domain)
export(bilinear_query)
export(compile_lowering)
export(compute_policy)
export(contrast)
export(cross_partitions)
export(effect_geometry)
export(effect_extractor)
export(effect_space)
export(effect_view)
export(evaluate_geometry)
export(execution_receipt)
export(factor_frame)
export(file_matrix_source)
export(frame)
export(geometry)
export(geometry_spectrum)
export(geometry_component)
export(memory_plan)
export(neuroim2_searchlights)
export(neuroim2_volume_domain)
export(lm_extractor)
export(numerical_agreement)
export(numerical_contract)
export(nonlinear_query)
export(pairing)
export(pairing_marginals)
export(query_geometry)
export(rdm)
export(regions)
export(relation)
export(relation_block)
export(rsa)
export(searchlights)
export(source_capabilities)
export(volume_domain)
export(voxels)
export(whole_brain)
